body {
    background-color: #0d1E40;
    color: white;
    font-family: 'Inter', sans-serif;
    padding: 1em;
    margin: 0 auto;
    overflow-x: hidden;
    padding-bottom: 0;
}

h1 {
    font-size: 2.5em;
    text-align: center;
}


/* Shooting Star animation */
.shoot-animation {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-size: cover;
}
#meteorAnimate {
    position: absolute;
    top:50%;
    left:50%;
    width: 4px;
    height: 4px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 0 0 4px rgba(255,255,255,0.1),0 0 0 8px rgba(255,255,255,0.1),0 0 20px rgba(255,255,255,0.1);
    animation: animate 5s linear infinite;
    z-index: -1;
}
#meteorAnimate::before {
    content:'';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 300px;
    height: 1px;
    background: linear-gradient(90deg,#fff,transparent);
}
@keyframes animate
{
    0%
    {
        transform: rotate(315deg) translateX(0);
        opacity: 1;
    }
    70%
    {
        opacity: 1;
    }
    100%
    {
        transform: rotate(315deg) translateX(-1000px);
        opacity: 0;
    }
}
#meteorAnimate:nth-child(1) {
    top: 0;
    right: -20%;
    left: initial;
    animation-delay: 7s;
    animation-duration: 2s;
}
#meteorAnimate:nth-child(2) {
    top: 0;
    right: 30%;
    left: initial;
    animation-delay: 5s;
    animation-duration: 1.5s;
}
#meteorAnimate:nth-child(3) {
    top: 0px;
    right: 80%;
    left: initial;
    animation-delay: 6s;
    animation-duration: 2.45s;
}

/* Toggle Menu */
.toggle-menu {
    margin: 1em auto 2em auto;
    display: flex;
    justify-content: center;
}
.menu-item {
    padding: 1em;
    background-color: #265D7330;
    cursor: pointer;
    border-radius: 5px;
}
#toggle-map {border-radius: 0;}
#toggle-chart {border-radius: 0px 10px 10px 0px;}
#toggle-table {border-radius: 10px 0 0 10px;}

.active {background-color: #265D73;}
.menu-item:hover {
    background-color: #265D7360;
    text-decoration: underline double #AEEBF2 1px;
}

/* Search Bar */
#search-bar {
    display: flex;
}

#search-bar input {
    display: block;
    text-align: left;
    margin: 0 auto;
    padding: .5em;
    border: 1px solid #ccc;
    border-radius: 20px;
  }

#meteorite-table {
    background-color: #0d1E40;
    border: .25em #328c8c70 outset;
    max-width: 600px;
    margin: 1em auto;
    overflow-x: auto;
}

.table-head {
    display: grid;
    grid-template-columns: auto repeat(4, 1fr);
    padding-top: .5em;
    padding-bottom: .5em;
    background-color: #328c8c;
}

.table-body {
    max-height: 400px;
    overflow: scroll;
}

.table-body .table-row:nth-child(even) {background-color: #265d7355;}
.table-body .table-row:nth-child(odd) {background-color: #265d7330;}


.table-row {
    display: grid;
    grid-template-columns: auto repeat(4, 1fr);
}

.like-btn, .btn-header {
    width: 32px;
}

.like-btn {
    cursor: pointer;
}

.like-btn:hover {

}

.table-cell {
    border-left-width: 1px;
    border-left-color: white;
    align-self: center;
    padding: .5em .25em;
}


/* Map */
#map {height: 400px;}

#map-container {
    max-width: 768px;
    margin: 0 auto 2em auto;
}

/* Charts */
.chart-container {
    margin: 0 auto;
    max-width: 400px;
}
canvas {
    padding: 2em;
    max-width: 600px;
    box-sizing: unset;
}

/* Footer */
footer {
    margin: 0;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}
.hidden {display: none;}

.copyright {
    grid-row: 1/2;
    grid-column: 1/2;
    padding: 2em .5em;
    font-size: x-small;
    align-self: center;
    text-shadow: 1px 1px 3px #0d1e40;
}

footer img {
    grid-column: 1/2;
    grid-row: 1/2;
    z-index: -1;
    align-self: stretch;
    max-height: 200px;
    object-fit: cover;
    object-position: bottom;
    max-width: 768px;
    justify-self: center;
}

@media (prefers-reduced-motion) {
    #meteorAnimate {animation: none;}
}

.ascending::after {
    content: "▲";
    font-size: smaller;
    padding-left: 1em;
}

.decending::after {
    content: "▼";
    font-size: smaller;
    padding-left: 1em;
}

.sort-toggle {
    cursor: pointer;
}
